@page "/counter"

@inject IJSRuntime JS

<form action="@actionUrl" method="post" id="payment-form" name="payment-form" class="payment-form">

    <button class="btn btn-primary">Clicking here seems it did not trigger any http post of fetch of JS</button>
</form>

@code {
    string postUrlForJS = string.Empty;
    const string actionUrl  = @"https://localhost:44353/api/checkout/formfree/cartid123";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {            
            postUrlForJS = @"https://localhost:44353/api/payment-params/Stripe/cartid123?paymentIntent=PAYMENT_INTENT";
            ExampleJsInterop _ExampleJsInterop = new ExampleJsInterop(JS);
            await _ExampleJsInterop.attachTestButtonClick(postUrlForJS, ".btn");//not good!!!
            await _ExampleJsInterop.Prompt("loaded js file.");//good
        }
    }
}
